body {
    margin: 0;
}

header{
    height: 70px;
    padding:0px 20px;
    font-size:0;
    background-color: #3c3e41;
}

.link-btn{
    color: white;
    background-color:rgba(255, 255, 255, 0.3);
    height:70px;
    width:120px;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    border-right:1px solid white;
    border-left:1px solid white;
}

.link-btn:hover{
    background-color:rgba(255, 255, 255, 0.6);    
}

.top-wrapper{
    /* background-image:url('profile_img01.jpg'); */
    /* height:1000px; */
}

.top-wrapper>.container{
    padding: 10px 10px;
    border-bottom:1px solid grey;
}

.top-wrapper>.container h1{
    font-size: 40px;
}

.top-wrapper>.container p{
    font-size: 20px;
}

.prof_img{
    float:left;
    margin:50px 10px 10px 10%;
}

.personal_img{
    border-radius:50%;
    width:400px;
    height:400px;
}

.prof_intro{
    float:left;
    font-size:30px;
    margin: 50px 10px;
}
