//2019/04/28 Written by Iwai
//home.htmlのscssです。


body {
    font-family: 'Hiragino Kaku Gothic ProN';
}

.top-wrapper {
    height: 400px;
    background-image: url(image3.jpeg);
    background-size: cover;

}

.container {
    width: 1200px;
    height: 100%;
}
